
@import url('https://use.typekit.net/wvb1lqs.css');
body {
  margin: 0;
  font-family: myriad-pro, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
